In [28]:
# Add the Pandas dependency.
import pandas as pd
import os

In [29]:
student_data_to_load = os.path.join("Resources", "students_complete.csv")
student_data_df = pd.read_csv(student_data_to_load)

To clean the students' names, you will have to remove the unique prefixes and suffixes. To recap our findings from the last section, the unique prefixes we need to remove are:
Dr. Mr. Mrs. Miss

And, the unique suffixes we need to remove are:
MD DDS DVM Ph.D

Remember, we don't want to remove the family-related suffixes like:
Jr., II, III, IV, and V.

In [30]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [31]:
# Iterate through the "prefixes_suffixes" list and replace them with an empty space, "" when it appears in the student's name.
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [32]:
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84