In [4]:
import pandas as pd

In [5]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [6]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

# Series

A Pandas Series is a one-dimensional, labeled array capable of holding any data type. This means the data is linear and has an index that acts as a key in a dictionary.

In [14]:
school_series = pd.Series(high_schools)

In [15]:
print(school_series)

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

# DataFrame

A Pandas is a two-dimensional labeled data structure, like a dictionary, with rows and columns of potentially different data types such as strings, integers, and floats (decimal point numbers), where data is aligned in a table.

In [16]:
school_df = pd.DataFrame(high_school_dicts)

In [17]:
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

# Convert a List or Series to a DataFrame

In [19]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [20]:
# Initialize a new DataFrame.
schools_df1 = pd.DataFrame()

In [22]:
schools_df1["School ID"] = school_id
schools_df1["School_name"] = school_name
schools_df1["type"] = type_of_school

In [24]:
schools_df1

   School ID            School_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [27]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
high_school_dicts= pd.DataFrame(high_school_dicts)
high_school_dicts

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [31]:

high_school_dicts.index

RangeIndex(start=0, stop=5, step=1)

In [32]:
high_school_dicts.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [33]:
high_school_dicts.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)